
POSTGRES_USER=hortifruti
POSTGRES_PASSWORD=p1rN63XucJzCI4by657mFgK4jvzgvNF2
POSTGRES_DB=hortifruti


REDIS_PASSWORD=ocrG0JIcnmPSxrTMRWZS5oFb4IhClCzp


JWT_SECRET=KXZXIHea-G5DJnt7MrVVZiSCBGZ7bFeVeQ7VOy0Qty87
PIX_KEY = 17991720731
NOME_RECEBEDOR = Wellington paiva
CIDADE = Jales



MP_ACCESS_TOKEN=GM7vHik8dML7rilZoaqhUQZDGC5CjgOmAM0nR0zcfjpC7uHJhTuTAjFa3
MP_WEBHOOK_SECRET=934AP6VNYTCVah0etf03ig
API_URL=http://localhost:3333
FRONTEND_URL=http://localhost:5173
